body{
--craft-color-bg-00: #FFFFFF;
--craft-color-bg-01: #FBFBFC;
--craft-color-bg-02: #F5F5F9;
--craft-color-bg-03: #E6E7EF;
--craft-color-bg-04: #D3D6E0;
--craft-color-bg-05: #9DA1B1;
--craft-color-bg-06: #6F7285;
--craft-color-bg-07: #484B62;
--craft-color-bg-08: #292A33;
--craft-color-bg-09: #212226;
--craft-color-bg-10: #16171A;
}